@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu confirmação da password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor verifique o seu email para redefinir a sua password.
</p>

