@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Verificação dos códigos de recuperação";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Pediu para fazer login com um código de recuperação. Este login não será lembrado até fornecer um código da app de autenticação durante o login 
    ou desativar a 2FA e fazer login outra vez.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
