@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Repor a confirmação da password";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua palavra passe foi alterada. Por favor <a asp-page="./Login"> carregue aqui para fazer log in</a>.
</p>
